@import "../_breakpoints.scss";

@include xs() {
  .non-desktop {
    display: flex;
  }

  .non-mobile {
    display: none;
  }

  input:focus {
    font-size: 16px !important;
  }

  .page-layout {
    overflow: hidden;
  }

  .sidebar__footer {
    margin-left: -2rem;
    align-items: center;
    justify-content: center;
  }
  .sidebar {
    width: 100%;
    padding: 24.5rem 2.4rem;
    transform: translateX(0);
    transition: transform 200ms ease-in-out;

    &__item {
      border-bottom: 1px solid #eee;
      margin-right: 1.6rem;
      margin-left: 1.6rem;
      &.active {
        background: unset;
        border-right: none;
      }
    }
  }
  .page-layout__children {
    width: 0;
    transform: translateX(1000px);
    overflow: hidden;
    transition: transform 200ms cubic-bezier(0.19, 1, 0.22, 1);
    padding: 0;
    box-shadow: unset;
  }

  .page-layout {
    &.show-mobile-contents {
      .page-layout__children {
        width: 100%;
        overflow: unset;
        transform: translateX(0);
        transition: transform 200ms cubic-bezier(0.19, 1, 0.22, 1);
        padding: 2rem;
      }

      .sidebar {
        width: 0;
        transform: translateX(-1000px);
        transition: transform 200ms cubic-bezier(0.19, 1, 0.22, 1);
        overflow: hidden;
        padding: 0;

        &__title-mobile {
          visibility: hidden;
        }

        &__item {
          visibility: hidden;
        }
      }

      .container {
        max-width: 100%;
        // padding-top: calc(13.4vh);
        height: 100%;
        width: 100%;
        transition: width 200ms cubic-bezier(0.19, 1, 0.22, 1);
        .container-content {
          min-width: unset;

          justify-content: center;
        }

        .mobile-footer-actions {
          display: flex;
          position: absolute;
          bottom: 0;
          width: 100%;
          left: 0;
          border-top: 1px solid var(--raven-black-100, #eee);
          border-bottom: 1px solid var(--raven-black-100, #eee);
          justify-content: space-between;
          height: 8.6rem;

          span {
            display: grid;
            place-items: center;
            align-items: center;
            width: 50%;

            color: var(--raven-black-800, #333);
            text-align: center;
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 600;
          }

          span:first-child {
            border-right: 1px solid #e3e3e3;
          }

          span:last-child {
            p {
              color: var(--error-100, #ff0f00);
            }
          }
        }
      }
    }
  }

  .modal-wrap.show-modal {
    .page-layout {
      position: unset;
      width: 98%;
      height: 98%;
    }
    .close-modal-offset {
      top: 1rem;
      right: 1rem;
    }
  }
}
